node-red/flows.json
[{"id":"7ee88e5.a08907","type":"tab","label":"Front Porch Images","disabled":false,"info":""},{"id":"4862c16b.bd208","type":"tab","label":"Front Porch Motion","disabled":false,"info":""},{"id":"5af74242.fcbc0c","type":"tab","label":"Turn On Counter Lights","disabled":false,"info":""},{"id":"4b7f840e.647d0c","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"4afeabcb.cfd8b4","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"homeassistant","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6dd1a1b4.a300f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5afa080c.725468","type":"server","z":"","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"66f04a4a.82dcc4","type":"mqtt in","z":"7ee88e5.a08907","name":"Tensorflow MQTT","topic":"tensorflow/#","qos":"1","datatype":"auto","broker":"4afeabcb.cfd8b4","x":140,"y":180,"wires":[["1c11dae5.1af195"]]},{"id":"1c11dae5.1af195","type":"fs-ops-dir","z":"7ee88e5.a08907","name":"","path":"/config/www/tensorflow","pathType":"str","filter":"payload","filterType":"msg","dir":"files","dirType":"msg","x":326,"y":179,"wires":[["e1c40736.6991c8"]]},{"id":"e1c40736.6991c8","type":"function","z":"7ee88e5.a08907","name":"Count files","func":"// Store the current index of where we are in matching\n// files in Node-RED persistent context\ntensorflow_index    = flow.get(\"tensorflow_index\") || {};\n\nmsg.count           = msg.files.length;\n\n// Set the index to the latest file the first time\nif (tensorflow_index[msg.payload] ==  null) {\n    tensorflow_index[msg.payload] = (msg.count - 1);\n}\n\n// Move forward and back through the files\nif (msg.topic.includes('next') && (tensorflow_index[msg.payload] < msg.count)) {\n    tensorflow_index[msg.payload]++;\n} else if (msg.topic.includes('prev') && (tensorflow_index[msg.payload] > 0)) {\n    tensorflow_index[msg.payload]--;\n} else if (msg.topic.includes('reset')) {\n    tensorflow_index[msg.payload] = (msg.count - 1);\n}\n\nmsg.camera_file         = msg.files[tensorflow_index[msg.payload]];\nmsg.tensorflow_index    = tensorflow_index[msg.payload];\n\nflow.set(\"tensorflow_index\", tensorflow_index);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["bdc48880.649278"]]},{"id":"bdc48880.649278","type":"api-call-service","z":"7ee88e5.a08907","name":"Update camera","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"local_file","service":"update_file_path","entityId":"camera.tensorflow_{{payload}}_scan","data":"{\"file_path\":\"/config/www/tensorflow/{{camera_file}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":180,"wires":[[]]},{"id":"87e797b8.4684b8","type":"comment","z":"7ee88e5.a08907","name":"Cycle through tensorflow scans","info":"","x":194,"y":131,"wires":[]},{"id":"fe9f2d33.09e9f","type":"server-state-changed","z":"4862c16b.bd208","name":"Hikvision Line Crossed","server":"4b7f840e.647d0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.salseccam1_line_crossing","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":60,"wires":[["63d0ab38.7f25a4"],[]]},{"id":"d95ed32.8e9c83","type":"api-call-service","z":"4862c16b.bd208","name":"Tensorflow Process Image","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"image_processing","service":"scan","entityId":"image_processing.tensorflow_front_porch","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":620,"y":40,"wires":[["4f6e09a3.82b798"]]},{"id":"562597c.5875168","type":"api-current-state","z":"4862c16b.bd208","name":"Get Detection Count","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"image_processing.tensorflow_front_porch","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":120,"wires":[["517107bf.4975f8","21643fbf.15082","6901f0c4.36671","b5082b6b.8d0bf8","a2a9cca2.041e8"],[]]},{"id":"2ca64446.8cd54c","type":"api-call-service","z":"4862c16b.bd208","name":"Notify Andy","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"notify","service":"gmail_text_andy","entityId":"","data":"{\"title\":\"Someone is on the porch\",\"message\":\"\",\"data\":{\"images\":[\"/config/www/tensorflow/front_porch_latest.jpg\"]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":130,"y":240,"wires":[[]]},{"id":"4f6e09a3.82b798","type":"delay","z":"4862c16b.bd208","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":40,"wires":[["562597c.5875168"]]},{"id":"21643fbf.15082","type":"api-call-service","z":"4862c16b.bd208","name":"Create Scene","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"scene","service":"create","entityId":"","data":"{\"scene_id\":\"before\",\"snapshot_entities\":[\"media_player.kitchen_hub\",\"media_player.basement_mini\",\"media_player.upstairs_mini\"]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":540,"y":260,"wires":[[]]},{"id":"517107bf.4975f8","type":"api-call-service","z":"4862c16b.bd208","name":"Announcement","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"group.tts_endpoints","data":"{\"message\":\"Someone is on the front porch.\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":260,"wires":[[]]},{"id":"6901f0c4.36671","type":"api-call-service","z":"4862c16b.bd208","name":"Stream Video","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"camera","service":"play_stream","entityId":"camera.front_porch","data":"{\"media_player\":\"media_player.kitchen_hub\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":260,"wires":[["a37748b5.acb9b8"]]},{"id":"a37748b5.acb9b8","type":"delay","z":"4862c16b.bd208","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":320,"wires":[["509f3d91.b28564","524b0e1e.3643e"]]},{"id":"509f3d91.b28564","type":"api-call-service","z":"4862c16b.bd208","name":"Restore Scene","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.before","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":380,"wires":[[]]},{"id":"524b0e1e.3643e","type":"function","z":"4862c16b.bd208","name":"Get New Filename","func":"var d = new Date();\nmsg.payload = d.getFullYear() + (\"0\"+(d.getMonth()+1)).slice(-2) + (\"0\" + d.getDate()).slice(-2) + \"-\" + (\"0\" + d.getHours()).slice(-2) + (\"0\" + d.getMinutes()).slice(-2) + (\"0\" + d.getSeconds()).slice(-2) + \"_front_porch.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["406aa0c2.e8cc8"]]},{"id":"406aa0c2.e8cc8","type":"fs-ops-copy","z":"4862c16b.bd208","name":"Copy Image","sourcePath":"/config/www/tensorflow","sourcePathType":"str","sourceFilename":"front_porch_latest.jpg","sourceFilenameType":"str","destPath":"/config/www/tensorflow","destPathType":"str","destFilename":"payload","destFilenameType":"msg","link":false,"overwrite":true,"x":950,"y":380,"wires":[["8126c0b7.8d98f"]]},{"id":"63d0ab38.7f25a4","type":"api-current-state","z":"4862c16b.bd208","name":"Detect Motion Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.front_porch_motion","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":40,"wires":[["d95ed32.8e9c83"],[]]},{"id":"b5082b6b.8d0bf8","type":"api-current-state","z":"4862c16b.bd208","name":"Notify Andy Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.notify_fpm_andy","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":155,"y":176,"wires":[["2ca64446.8cd54c"],[]]},{"id":"c3b18c2f.6d8bd","type":"api-call-service","z":"4862c16b.bd208","name":"Notify Katie","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"notify","service":"gmail_text_katie","entityId":"","data":"{\"title\":\"Someone is on the porch\",\"message\":\"\",\"data\":{\"images\":[\"/config/www/tensorflow/front_porch_latest.jpg\"]}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":110,"y":380,"wires":[[]]},{"id":"a2a9cca2.041e8","type":"api-current-state","z":"4862c16b.bd208","name":"Notify Katie Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.notify_fpm_katie","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":135,"y":316,"wires":[["c3b18c2f.6d8bd"],[]]},{"id":"8126c0b7.8d98f","type":"exec","z":"4862c16b.bd208","command":"sudo find /config/www/tensorflow/  -type f -mtime +1 -name '*.jpg' -execdir rm -- '{}' \\;","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Remove Files Older than 30 days","x":920,"y":460,"wires":[[],[],[]]},{"id":"5acdaab.3a12654","type":"time-range-switch","z":"5af74242.fcbc0c","name":"Is Morning","lat":"44.75126","lon":"-93.36914","startTime":"05:30","endTime":"09:30","startOffset":0,"endOffset":0,"x":350,"y":120,"wires":[["3fe55f23.0e33a"],[]]},{"id":"f03934bb.0ab808","type":"api-call-service","z":"5af74242.fcbc0c","name":"Turn On Counter Lights","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.counter_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":380,"wires":[["4b1b27f3.7bd878"]]},{"id":"d0d6c395.1019c","type":"server-state-changed","z":"5af74242.fcbc0c","name":"Motion on Top of Stairs","server":"4b7f840e.647d0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.top_upper_stairs_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":140,"wires":[["5acdaab.3a12654"],[]]},{"id":"7f6c8755.589c48","type":"api-call-service","z":"5af74242.fcbc0c","name":"Tensorflow Process Image","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"image_processing","service":"scan","entityId":"image_processing.tensorflow_wyze_cam","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":220,"wires":[["7db1ba19.484314"]]},{"id":"5738a0d4.18226","type":"delay","z":"5af74242.fcbc0c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":120,"wires":[["7f6c8755.589c48"]]},{"id":"7db1ba19.484314","type":"api-current-state","z":"5af74242.fcbc0c","name":"Get Detection Count","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"image_processing.tensorflow_wyze_cam","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":300,"wires":[["f03934bb.0ab808"],["3fe55f23.0e33a"]]},{"id":"3fe55f23.0e33a","type":"counter-loop","z":"5af74242.fcbc0c","name":"Counter Loop","counter":"counter","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"25","terminationType":"num","increment":1,"incrementType":"num","x":650,"y":80,"wires":[[],["5738a0d4.18226"]]},{"id":"4b1b27f3.7bd878","type":"api-call-service","z":"5af74242.fcbc0c","name":"Turn Off Bedtime","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bedtime","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":440,"wires":[[]]}]
