node-red/flows.json
[{"id":"7ee88e5.a08907","type":"tab","label":"Front Porch Images","disabled":true,"info":""},{"id":"4862c16b.bd208","type":"tab","label":"Front Porch Motion","disabled":false,"info":""},{"id":"5af74242.fcbc0c","type":"tab","label":"Turn On Counter Lights","disabled":true,"info":""},{"id":"7e1a22bb.808f9c","type":"tab","label":"Arm Mode","disabled":false,"info":""},{"id":"4b7f840e.647d0c","type":"server","name":"Home Assistant","addon":true},{"id":"4afeabcb.cfd8b4","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"homeassistant","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6dd1a1b4.a300f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9692578a.495d18","type":"server","name":"Home Assistant","addon":true},{"id":"66f04a4a.82dcc4","type":"mqtt in","z":"7ee88e5.a08907","name":"Tensorflow MQTT","topic":"tensorflow/#","qos":"1","datatype":"auto","broker":"4afeabcb.cfd8b4","x":140,"y":180,"wires":[["1c11dae5.1af195"]]},{"id":"1c11dae5.1af195","type":"fs-ops-dir","z":"7ee88e5.a08907","name":"","path":"/config/www/tensorflow","pathType":"str","filter":"payload","filterType":"msg","dir":"files","dirType":"msg","x":326,"y":179,"wires":[["e1c40736.6991c8"]]},{"id":"e1c40736.6991c8","type":"function","z":"7ee88e5.a08907","name":"Count files","func":"// Store the current index of where we are in matching\n// files in Node-RED persistent context\ntensorflow_index    = flow.get(\"tensorflow_index\") || {};\n\nmsg.count           = msg.files.length;\n\n// Set the index to the latest file the first time\nif (tensorflow_index[msg.payload] ==  null) {\n    tensorflow_index[msg.payload] = (msg.count - 1);\n}\n\n// Move forward and back through the files\nif (msg.topic.includes('next') && (tensorflow_index[msg.payload] < msg.count)) {\n    tensorflow_index[msg.payload]++;\n} else if (msg.topic.includes('prev') && (tensorflow_index[msg.payload] > 0)) {\n    tensorflow_index[msg.payload]--;\n} else if (msg.topic.includes('reset')) {\n    tensorflow_index[msg.payload] = (msg.count - 1);\n}\n\nmsg.camera_file         = msg.files[tensorflow_index[msg.payload]];\nmsg.tensorflow_index    = tensorflow_index[msg.payload];\n\nflow.set(\"tensorflow_index\", tensorflow_index);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["bdc48880.649278"]]},{"id":"bdc48880.649278","type":"api-call-service","z":"7ee88e5.a08907","name":"Update camera","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"local_file","service":"update_file_path","entityId":"camera.tensorflow_{{payload}}_scan","data":"{\"file_path\":\"/config/www/tensorflow/{{camera_file}}\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":680,"y":180,"wires":[[]]},{"id":"87e797b8.4684b8","type":"comment","z":"7ee88e5.a08907","name":"Cycle through tensorflow scans","info":"","x":194,"y":131,"wires":[]},{"id":"fe9f2d33.09e9f","type":"server-state-changed","z":"4862c16b.bd208","name":"Hikvision Line Crossed","server":"4b7f840e.647d0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.salseccam1_line_crossing","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":20,"wires":[["d791266a.4c9538"],[]]},{"id":"d95ed32.8e9c83","type":"api-call-service","z":"4862c16b.bd208","name":"Deepstack Process Image","server":"4b7f840e.647d0c","version":3,"debugenabled":false,"service_domain":"image_processing","service":"scan","entityId":"image_processing.deepstack_object_front_porch","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":100,"wires":[["4f6e09a3.82b798"]]},{"id":"562597c.5875168","type":"api-current-state","z":"4862c16b.bd208","name":"Get Detection Count","server":"4b7f840e.647d0c","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"image_processing.deepstack_object_front_porch","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":620,"y":100,"wires":[["517107bf.4975f8","21643fbf.15082","a2a9cca2.041e8","b5082b6b.8d0bf8","6901f0c4.36671"],[]]},{"id":"2ca64446.8cd54c","type":"api-call-service","z":"4862c16b.bd208","name":"Notify Andy","server":"4b7f840e.647d0c","version":3,"debugenabled":false,"service_domain":"notify","service":"gmail_text_andy","entityId":"","data":"{\"title\":\"Someone is on the porch\",\"message\":\"\",\"data\":{\"images\":[\"/config/www/snapshots/deepstack_object_front_porch_latest.png\"]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":130,"y":320,"wires":[[]]},{"id":"4f6e09a3.82b798","type":"delay","z":"4862c16b.bd208","name":"","pauseType":"delay","timeout":"125","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":100,"wires":[["562597c.5875168"]]},{"id":"21643fbf.15082","type":"api-call-service","z":"4862c16b.bd208","d":true,"name":"Create Scene","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"scene","service":"create","entityId":"","data":"{\"scene_id\":\"before\",\"snapshot_entities\":[\"media_player.kitchen_hub\",\"media_player.basement_mini\",\"media_player.upstairs_mini\"]}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":880,"y":100,"wires":[[]]},{"id":"517107bf.4975f8","type":"api-call-service","z":"4862c16b.bd208","name":"Announcement","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"tts","service":"google_say","entityId":"group.tts_endpoints","data":"{\"message\":\"Someone is on the front porch.\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":400,"y":340,"wires":[[]]},{"id":"6901f0c4.36671","type":"api-call-service","z":"4862c16b.bd208","name":"Stream Video","server":"4b7f840e.647d0c","version":3,"debugenabled":false,"service_domain":"camera","service":"play_stream","entityId":"camera.front_porch","data":"{\"media_player\":\"media_player.kitchen_hub\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":340,"wires":[["a37748b5.acb9b8"]]},{"id":"a37748b5.acb9b8","type":"delay","z":"4862c16b.bd208","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":400,"wires":[["509f3d91.b28564","e09b3419.afb998"]]},{"id":"509f3d91.b28564","type":"api-call-service","z":"4862c16b.bd208","d":true,"name":"Restore Scene","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.before","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":900,"y":400,"wires":[[]]},{"id":"524b0e1e.3643e","type":"function","z":"4862c16b.bd208","name":"Get New Filename","func":"var d = new Date();\nmsg.payload = d.getFullYear() + (\"0\"+(d.getMonth()+1)).slice(-2) + (\"0\" + d.getDate()).slice(-2) + \"-\" + (\"0\" + d.getHours()).slice(-2) + (\"0\" + d.getMinutes()).slice(-2) + (\"0\" + d.getSeconds()).slice(-2) + \"_front_porch.jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["406aa0c2.e8cc8"]]},{"id":"406aa0c2.e8cc8","type":"fs-ops-copy","z":"4862c16b.bd208","name":"Copy Image","sourcePath":"/config/www/tensorflow","sourcePathType":"str","sourceFilename":"front_porch_latest.jpg","sourceFilenameType":"str","destPath":"/config/www/tensorflow","destPathType":"str","destFilename":"payload","destFilenameType":"msg","link":false,"overwrite":true,"x":450,"y":460,"wires":[[]]},{"id":"63d0ab38.7f25a4","type":"api-current-state","z":"4862c16b.bd208","name":"Detect Motion Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.front_porch_motion","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":20,"wires":[["d95ed32.8e9c83"],[]]},{"id":"b5082b6b.8d0bf8","type":"api-current-state","z":"4862c16b.bd208","name":"Notify Andy Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_fpm_andy","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":155,"y":256,"wires":[["2ca64446.8cd54c"],[]]},{"id":"c3b18c2f.6d8bd","type":"api-call-service","z":"4862c16b.bd208","name":"Notify Katie","server":"4b7f840e.647d0c","version":3,"debugenabled":false,"service_domain":"notify","service":"gmail_text_katie","entityId":"","data":"{\"title\":\"Someone is on the porch\",\"message\":\"\",\"data\":{\"images\":[\"/config/www/snapshots/deepstack_object_front_porch_latest.png\"]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":110,"y":460,"wires":[[]]},{"id":"a2a9cca2.041e8","type":"api-current-state","z":"4862c16b.bd208","name":"Notify Katie Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_fpm_katie","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":135,"y":396,"wires":[["c3b18c2f.6d8bd"],[]]},{"id":"5acdaab.3a12654","type":"time-range-switch","z":"5af74242.fcbc0c","name":"Is Morning","lat":"44.75126","lon":"-93.36914","startTime":"05:30","endTime":"09:30","startOffset":0,"endOffset":0,"x":350,"y":120,"wires":[["3fe55f23.0e33a"],[]]},{"id":"f03934bb.0ab808","type":"api-call-service","z":"5af74242.fcbc0c","name":"Turn On Counter Lights","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.counter_lights","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":790,"y":380,"wires":[["4b1b27f3.7bd878"]]},{"id":"d0d6c395.1019c","type":"server-state-changed","z":"5af74242.fcbc0c","name":"Motion on Top of Stairs","server":"4b7f840e.647d0c","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.top_upper_stairs_pir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":120,"y":140,"wires":[["5acdaab.3a12654"],[]]},{"id":"7f6c8755.589c48","type":"api-call-service","z":"5af74242.fcbc0c","name":"Tensorflow Process Image","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"image_processing","service":"scan","entityId":"image_processing.tensorflow_wyze_cam","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":860,"y":220,"wires":[["7db1ba19.484314"]]},{"id":"5738a0d4.18226","type":"delay","z":"5af74242.fcbc0c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":120,"wires":[["7f6c8755.589c48"]]},{"id":"7db1ba19.484314","type":"api-current-state","z":"5af74242.fcbc0c","name":"Get Detection Count","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"image_processing.tensorflow_wyze_cam","state_type":"num","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":300,"wires":[["f03934bb.0ab808"],["3fe55f23.0e33a"]]},{"id":"3fe55f23.0e33a","type":"counter-loop","z":"5af74242.fcbc0c","name":"Counter Loop","counter":"counter","counterType":"msg","reset":false,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"25","terminationType":"num","increment":1,"incrementType":"num","x":650,"y":80,"wires":[[],["5738a0d4.18226"]]},{"id":"4b1b27f3.7bd878","type":"api-call-service","z":"5af74242.fcbc0c","name":"Turn Off Bedtime","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bedtime","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":990,"y":440,"wires":[[]]},{"id":"9ee3909c.2fc49","type":"server-events","z":"7e1a22bb.808f9c","name":"","server":"4b7f840e.647d0c","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":110,"y":120,"wires":[["a04d419b.6e334"]]},{"id":"a04d419b.6e334","type":"switch","z":"7e1a22bb.808f9c","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.arm_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":180,"wires":[["d9ec48c7.2b2748"]]},{"id":"89f66e8d.042d6","type":"api-call-service","z":"7e1a22bb.808f9c","name":"Tensorflow Process Image","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"image_processing","service":"scan","entityId":"image_processing.tensorflow_wyze_cam","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":960,"y":220,"wires":[["f8516423.553468"]]},{"id":"6001bca1.dc2c54","type":"delay","z":"7e1a22bb.808f9c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":160,"wires":[["89f66e8d.042d6"]]},{"id":"f8516423.553468","type":"api-current-state","z":"7e1a22bb.808f9c","name":"Get Detection Count","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"image_processing.tensorflow_wyze_cam","state_type":"num","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":420,"wires":[["f2145224.7c48d","6a8c6f79.bb21b","5e12e68a.5eaef8"],["c15845b4.f6bfe8"]]},{"id":"123baf81.9a6f3","type":"while-loop","z":"7e1a22bb.808f9c","name":"While Loop","condi":"msg.payload == true","x":610,"y":140,"wires":[[],["6001bca1.dc2c54"]]},{"id":"ee8e85b.fa88878","type":"api-call-service","z":"7e1a22bb.808f9c","name":"Notify Andy","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"notify","service":"gmail_text_andy","entityId":"","data":"{\"title\":\"Person detected inside\",\"message\":\"\",\"data\":{\"images\":[\"/config/www/tensorflow/wyze_cam_latest.jpg\"]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":710,"y":500,"wires":[[]]},{"id":"f2145224.7c48d","type":"api-current-state","z":"7e1a22bb.808f9c","name":"Notify Andy Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_fpm_andy","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":420,"wires":[["ee8e85b.fa88878"],[]]},{"id":"64a49731.4c0178","type":"api-call-service","z":"7e1a22bb.808f9c","name":"Notify Katie","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"notify","service":"gmail_text_katie","entityId":"","data":"{\"title\":\"Person detected inside\",\"message\":\"\",\"data\":{\"images\":[\"/config/www/tensorflow/wyze_cam_latest.jpg\"]}}","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":970,"y":480,"wires":[[]]},{"id":"6a8c6f79.bb21b","type":"api-current-state","z":"7e1a22bb.808f9c","name":"Notify Katie Boolean","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.notify_fpm_katie","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":980,"y":420,"wires":[["64a49731.4c0178"],[]]},{"id":"5e12e68a.5eaef8","type":"delay","z":"7e1a22bb.808f9c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":480,"wires":[["c15845b4.f6bfe8"]]},{"id":"d9ec48c7.2b2748","type":"api-current-state","z":"7e1a22bb.808f9c","name":"Arm Mode On","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.full_armed_mode","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":240,"wires":[["123baf81.9a6f3"],[]]},{"id":"c15845b4.f6bfe8","type":"api-current-state","z":"7e1a22bb.808f9c","name":"Arm Mode On","server":"4b7f840e.647d0c","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.full_armed_mode","state_type":"habool","blockInputOverrides":false,"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":220,"wires":[["123baf81.9a6f3"],[]]},{"id":"6b58e75b.bb4d78","type":"ha-webhook","z":"7e1a22bb.808f9c","name":"Armed Mode Person Detection","server":"4b7f840e.647d0c","outputs":1,"webhookId":"CD4cvFeVbPmAW8KCjqClpjRGwW4CupvX","payloadLocation":"payload","payloadLocationType":"msg","headersLocation":"headers","headersLocationType":"msg","x":170,"y":320,"wires":[[]]},{"id":"e09b3419.afb998","type":"api-call-service","z":"4862c16b.bd208","name":"Stop Stream","server":"4b7f840e.647d0c","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.kitchen_hub","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"output_location":"","output_location_type":"none","x":710,"y":460,"wires":[[]]},{"id":"d791266a.4c9538","type":"template","z":"4862c16b.bd208","name":"Get Last Tripped","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ data.old_state.attributes.last_tripped_time }}","output":"str","x":310,"y":20,"wires":[["aca96a59.a4e8e8"]]},{"id":"aca96a59.a4e8e8","type":"function","z":"4862c16b.bd208","name":"Check if over 5 mins","func":"var now = new Date().getTime();\nvar lastTriggered = new Date(msg.payload).getTime();\nvar diff = (now - lastTriggered) / 1000;\nmsg.payload = diff;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":20,"wires":[["ecdd3b29.1f3848"]]},{"id":"ecdd3b29.1f3848","type":"switch","z":"4862c16b.bd208","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"300","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":20,"wires":[["63d0ab38.7f25a4"]]}]